In [5]:
import sqlite3
# TEST.dbを作成する
# すでに存在していれば、それにアスセスする。
dbname = 'TEST.db'
conn = sqlite3.connect(dbname)

cur = conn.cursor()
# personsというtableを作成してみる
# 大文字部はSQL文。小文字でも問題ない。
cur.execute(
    'CREATE TABLE persons(id INTEGER PRIMARY KEY AUTOINCREMENT, name STRING)')

# データベースへコミット。これで変更が反映される。
conn.commit()

# データベースへのコネクションを閉じる。(必須)
conn.close()

In [1]:
import sqlite3

dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

# "name"に"Taro"を入れる
cur.execute('INSERT INTO persons(name) values("Taro")')
# 同様に
cur.execute('INSERT INTO persons(name) values("Hanako")')
cur.execute('INSERT INTO persons(name) values("Hiroki")')

conn.commit()

# terminalで実行したSQL文と同じようにexecute()に書く
cur.execute('SELECT * FROM persons')

# 中身を全て取得するfetchall()を使って、printする。
print(cur.fetchall())

cur.close()
conn.close()

In [3]:
import mysql.connector

# MySQLに接続
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Iri.taiga35"
)

# カーソルを取得
cursor = conn.cursor()

dbname = 'TEST'
# データベース作成
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {dbname} ")

# 接続を閉じる
cursor.close()
conn.close()

In [9]:
import mysql.connector

# MySQLに接続
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Iri.taiga35",
    database = "TEST"
)

cur = conn.cursor()

cur.execute(
    'CREATE TABLE persons(id INTEGER PRIMARY KEY AUTO_INCREMENT, name VARCHAR(255))') 
# 基本はsqliteと同じようだが、AUTOINCREMENT<=>AUTO_INCREMENTだったり、STRING<=>CHAR,VARCHARだったりする

# "name"に"Taro"を入れる
cur.execute('INSERT INTO persons(name) values("Taro")')
# 同様に
cur.execute('INSERT INTO persons(name) values("Hanako")')
cur.execute('INSERT INTO persons(name) values("Hiroki")')

conn.commit()

# terminalで実行したSQL文と同じようにexecute()に書く
cur.execute('SELECT * FROM persons')

# 中身を全て取得するfetchall()を使って、printする。
print(cur.fetchall())

cur.close()
conn.close()